.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: Arial, sans-serif;
}

.login-form__error {
    color: red;
    margin-bottom: 0.5em;
}

.login-form__loggedin {
    margin-bottom: 0.5em;
}

.login-form__title {
    text-align: center;
    margin-bottom: 20px;
}

.login-form__inputs {
    display: flex;
    flex-direction: column;
}

.inputs__label {
    margin-bottom: 0.5em;
}

.inputs__input {
    padding: 5px;
    margin-bottom: 0.5em;
    width: 250px;
}

.inputs__button {
    padding: 10px 20px;
}