.post-form {
    display: block;
    margin-bottom: 0.5em;
}

.post-form__title {
    margin-bottom: 0.5em;
}

.post-form__actions {
    margin-top: 0.5em;
    display: flex;
    gap: 10px;
}

.post-form__field {
    margin-bottom: 0.5em;
}

.post-form__label {
    display: block;
    font-weight: bold;
}

.post-form__input,
.post-form__textarea {
    width: 95%;
    padding: 5px;
}

.post-form__textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 50vh;
    overflow-y: auto;
}